{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".js", ".json", ".ts", ".tsx"],
        "paths": ["common", "frontend/src", "backend/src"]
      }
    }
  }
}