.card {
  border-top: none !important;
}

.toggleBtn {
  margin-right: 10px;
  display: inline-block;
  padding: 4px 10px !important;
  width: 34px;
}

.question {
  display: inline-block;
  text-align: left;
  align-self: flex-start;
}

.cardHeader {
  display: flex;
  justify-content: space-between !important;
}

.answer {
  text-align: left;
}