{
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "extends": [
    "../.eslintrc",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/react",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "env": { "node": true },
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "no-shadow": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/react-in-jsx-scope": "off"
  }
}
