.logo {
  margin-bottom: 8px;
}

.navbarToggler {
  margin-bottom: 0.5rem;
}

.homepageDescription {
  padding-left: 16px;
}

.navbarTogglerIcon {
  width: 2em;
  height: 2em;
}

.navButtonMargin {
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  .navbarExpandLg {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) and (min-width: 360px) {
  .navbar {
    h1 {
      font-size: 1.5em;
    }
  }
  .homepageDescription {
    h5 {
      font-size: 0.9em;
    }
  }
}

// to get the toggler on the same line for smaller phone screens
@media only screen and (max-width: 360px) {
  .navbarToggler {
    font-size: 1rem;
  }
}

// for iPhone 5
@media only screen and (max-width: 320px) {
  .navbar {
    h1 {
      font-size: 1.2em;
    }
  }

  .homepageDescription {
    h5 {
      font-size: 0.85em;
    }
  }
  .navbarTogglerIcon {
    width: 1.5em;
    height: 1.5em;
  }
}
