.component {
  padding: 14px;
  height: 100%;
  border-radius: 6px;
  background-color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
}

.title {
  font-weight: 700;
}

ul {
  padding-left: 20px;
  margin-bottom: 0;
}

.detail {
  text-transform: uppercase;
  color: '#5D5D5D';
  font-size: 0.8em;
}

p {
  margin-bottom: 8px;
}

.image {
  height: 70%;
  width: 70%;
}
