.card {
  border-top: none !important;
}

Button {
  margin-right: 10px;
  display: inline-block;
  padding: 4px 10px !important;
  width: 34px;
}

.question {
  display: inline-block;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between !important;
}