body {
    width: 100vw;
}

.Home {
    padding: 7vh 7vw; 
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#F6F6F6;
}

.logo {
    margin-bottom: 8px
}

.navbar-toggler {
    margin-bottom: 0.5rem;
}

.homepage-description {
    padding-left: 16px;
}

.search {
    width: 60%;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%

}

.navbar-toggler-icon {
    width: 2em;
    height: 2em
}

@media only screen and (max-width: 600px) {
    .search {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

@media only screen and (max-width: 600px) and (min-width: 360px) {
.navbar {
    h1 {
        font-size: 1.5em;
    }
}
.homepage-description {
    h5 {
        font-size: 0.9em;
    }
}
}
    
// to get the toggler on the same line for smaller phone screens
@media only screen and (max-width: 360px) {
    .navbar-toggler {
        font-size: 1rem;
    }
}

// for iPhone 5
@media only screen and (max-width: 320px) {
    .navbar {
        h1 {
            font-size: 1.2em;
        }
    }

    .homepage-description {
        h5 {
            font-size: 0.85em;
        }
    }
    .navbar-toggler-icon {
        width: 1.5em;
        height: 1.5em
    }
}

.links, .links:hover {
    text-decoration: none;
    color: black
}


.nav-button-margin {
    margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: space-between;
    }
}

.dropdown {
    .btn-secondary {
        color: white;
        background-color: transparent;
        margin-bottom: 0.5rem
    }

    .btn-secondary:focus,  .btn-secondary.focus{
        background-color: transparent;
        box-shadow: none;
        border-color: #545b62
    }
}
:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    border-color: #ced4da !important;
  }

.divider{
    border: 3px solid black;
    width: 201px;
}

.amenities-button{
    width:100px;
    height:30px;
    border:1;
    background-color:#8CDCA3; 
    color:#495057; 
    border-radius:200px;
}

.review-rectangle{
    background-color:#388893;
    height: 27px; 
    color: white;
}
