body {
  width: 100vw;
}

.links,
.links:hover {
  text-decoration: none;
}

.links {
  color: black;
}

.btn-outline-dark:hover > .links {
  color: white;
}

.dropdown {
  .btn-secondary {
    color: white;
    background-color: transparent;
    margin-bottom: 0.5rem;
  }

  .btn-secondary:focus,
  .btn-secondary.focus {
    background-color: transparent;
    box-shadow: none;
    border-color: #545b62;
  }
}
